<div class="mb-3">
	<a asp-action="Index" class="mx-2 text-nowrap">Season Overview</a>
	<a asp-action="Rosters" class="mx-2 text-nowrap">View Rosters</a>
	<a asp-action="Details" class="mx-2 text-nowrap">Manage Season</a>
	<a asp-action="Players" class="mx-2 text-nowrap">Manage Players</a>
	<a asp-action="Teams" class="mx-2 text-nowrap">Manage Teams</a>
	<a asp-action="Games" class="mx-2 text-nowrap">Manage Games</a>
	<a asp-action="Rounds" class="mx-2 text-nowrap">Manage Rounds</a>
</div>