@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>Subspace Nexus ("we," "our," or "us") values your privacy. This Privacy Policy outlines how we collect, use, and protect your information when you use our website to view and track game statistics.</p>

<p><b>1. Information We Collect</b></p>
We may collect the following types of information:
<ul>
	<li>User Statistics: Data related to your in-game performance, such as scores, rankings, or achievements.</li>
	<li>Account Information: If applicable, your username, email address, or other profile information.</li>
</ul>

<p><b>2. How We Use Your Information </b></p>
We use your information to:
<ul>
	<li>Display and track game statistics on the website.</li>
	<li>Improve user experience and website functionality.</li>
</ul>
<p><b>3. Data Sharing</b></p>
We do not sell, trade, or share your information with third parties, except as required by law.
<br />
<br />
<p><b>4. Data Security</b></p>
We implement reasonable security measures to protect your information. However, no online platform can guarantee absolute security.
<br />
<br />
<p><b>5. Changes to This Policy</b></p>
We may update this policy from time to time. Significant changes will be communicated on this page with an updated "Effective Date."
<br />
<br />

<p><b>6. Contact Us </b></p>
	If you have questions or concerns, please contact us at <a href="mailto:support@subspacenexus.com" target="_blank">support@subspacenexus.com</a>.