<div class="alert alert-info">
    <div id="game-type-note">
        <div class="mb-3"><strong>Game Type</strong> controls game-mode and associated configuration used by the zone server (league modules) when matches are started.</div>
        <div class="mb-3"><strong>Game Type</strong> also affects which <strong>stat period</strong> to save match data to. When a season is <strong><em>started</em></strong>, a stat period is linked to that season. Changing <strong>Game Type</strong> will not modify the stat period for seasons that have already started.</div>
    </div>
    <div class="mb-3"><strong>Minimum Teams Per Game</strong> and <strong>Maximum Teams Per Game</strong> affect how many teams can be assigned to a game.</div>
    <div class="mb-3"><strong>Starting Freq</strong> defines which freq # the first team is assigned. <strong>Freq Increment</strong> defines how many freqs to skip between each team.</div>
</div>